*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block:40px ;
}
header{
    width: 100%;
    max-width: 800px;
    text-align: center;

}
header h1{
    color: #767676;
    font-size: 2.5rem;
    animation: popIn 0.8s ease;
}
header form .search-container{
    margin-top: 20px;
    position: relative;
}
header form .search-container input{
    width: 100%;
    font-size: 18px;
    padding: 12px 24px;
    border-radius: 20px;
    border: none;
    background: #eee;
}
header form .search-container .material-symbols-outlined{
    position: absolute;
    right: 10px;
    bottom: 12px;
    color: #767676;
    cursor: pointer;
}
.images-container{
    margin-block:50px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.images-container img{
    height: 280px;
    width: 300px;
}

.images-container .imageDiv{
    position: relative;
}

.images-container .overlay{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0,0,0,0.7);
    transition: height 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;


}
.imageDiv:hover .overlay{
    height: 100%;
}

.imageDiv .overlay h3 {
    display: none;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    line-height: 1.4;
    color: #fff;
}

.imageDiv:hover .overlay h3{
    display: block;

}
.loadMoreBut{
    border: none;
    background-color: lightseagreen;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
.loadMoreBut:hover {
    background-color: teal;
    transform: scale(1.05);
    transition: 0.3s ease;
}

main section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0 50px 0;
}








@keyframes popIn {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}







@media screen and(max-width:920px) {
    header{
        width: 90%;
    }
}





