body {
    font-family: Arial;
}

p {
    font-size: 8px;
}

img {
    height: 80px;
    width: 100px;
}

a {
    text-decoration: none;
}
.first{
    background-color: rgb(165, 44, 147);
}
td{
    width: 200;
    background-color: white;
}